MONGODB_URI=mongodb://RecycLens:RecycLens106@ac-rnxrgw0-shard-00-00.ehhvlku.mongodb.net:27017,ac-rnxrgw0-shard-00-01.ehhvlku.mongodb.net:27017,ac-rnxrgw0-shard-00-02.ehhvlku.mongodb.net:27017/recyclens?ssl=true&replicaSet=atlas-4aa81i-shard-0&authSource=admin&retryWrites=true&w=majority
PORT=5001
JWT_SECRET=change_me_to_a_long_random_secret
